
h1 {
  size: 55px;
  color: rgb(247, 242, 242);
  font-family: 'Roboto Slab', serif;
}

.lead {
  color: red;
}

p {
  width: 750px;
  text-align: center;
  float: center;
}

.col {
  background-color: cornflowerblue;
}

/* Here are the ID's and classes proprietatry to the developer profile page:
 */
#devprofile {
  background-color: cornflowerblue;
}

#already{
  color: white;
}

.fas {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Here the IDs and classes from devregister.html end */

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 960px;
  background-color: coral;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container2 {
  margin: 0 auto;
  margin-top: 79px;
  width: 250px;
  background-color: grey;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  line-height: 2.5;
}


/*--- Slider ----*/

.carousel-item{
  height: 100vh;
}

.carousel-caption{
position: absolute;
top: 38%;
text-transform: uppercase;
width: 100%;
right: 0;
left: 0;
}

.carousel-caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;

}


.carousel-caption h3{
font-size: 2rem;
text-shadow: .1rem .1rem .5rem black;
padding-bottom: 1.6rem;

}

.btn-lg {
  border-width: medium; 
  border-radius: 0;
  font-size: 1.1rem;
  background-color: orangered;

}

.profilepics {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--- Profile Page ---*/

.profile-card {
  width : 400px;
  margin: auto;
  margin-top: 50px;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);

}

.body2 {
  font-family: 'Roboto Slab', serif;
  color:#3c3939;
  background-color: #f1f1f1;
}

.image-container {
position: relative;
}

.info {
  color: #4b4fe2; 
  margin-right: 16px;
}

.main-container {
  padding: 20px;
}

.skill-bar {
  background-color:#bdc9ea;
  border-radius: 16px;
}

.progress-bar {
  padding: 0.1em 16px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  background-color: #4b4fe2;
}

.title {

  position: absolute;
  left: 15px;
  bottom: 0;
}

/*--- Search ----*/

.body-3 {
  margin: 0;
  padding: 0;
  background:cornflowerblue;
}


.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2f3640; 
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;

}

.search-box:hover > .search-btn{
  background: white;
}


.search-btn{
  color: #e84118; 
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none; 
  float: left;
  padding: 0;
  color: white;
  font-size: 16px; 
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}